@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Ubuntu&display=swap');

#products {
  margin-top: 20px;
}

.product {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}

.product:hover {
  border: 1px solid rgb(120, 120, 120);
  border-radius: 10px;
}

.product-name {
  font: 1.3rem 'Noto Sans', sans-serif;
  text-align: center;
  max-width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-img {
  max-width: 80%;
}

.product-small-description {
  margin-top: 10px;
  max-width: 90%;
  max-height: 180px;
  overflow-y: hidden;
  font: 12px 'Ubuntu', sans-serif;
  color: rgb(20, 20, 20);
}

.product-footer {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 90%;
  vertical-align: bottom;
}

.price {
  display: inline-block;
  font: 1.5rem 'Noto Sans', sans-serif;
  font-style: italic;
  color: rgb(251, 113, 0);
}

.add-to-cart {
  background: center center no-repeat;
  background-image: url('../img/cart.png');
  background-size: 100%;
  width: 20px;
  height: 20px;
}
