/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style.css ***!
  \*****************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style.css (1) ***!
  \*********************************************************************/
body {
    margin: 0;
    overflow: hidden;
}

.label {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
}

#date {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 100;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
}
